In [1]:
import pandas as pd
import numpy as np

In [43]:
dt1= pd.DataFrame({'num' :[5, 6, 6], 'code postal':[94350, 13300, 5000]})

In [44]:
dt1

   num  code postal
0    5        94350
1    6        13300
2    6         5000

### Les deux colonnes sont de type numerique int

In [45]:
dt1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   num          3 non-null      int64
 1   code postal  3 non-null      int64
dtypes: int64(2)
memory usage: 176.0 bytes

### On change le type de la colonne num (int => str)

In [56]:
dt1.num = dt1.num.astype(str)

In [47]:
dt1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   num          3 non-null      object
 1   code postal  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

### On change le type de la colonne code postal  (int => str)

In [48]:
dt1['code postal']=dt1['code postal'].astype(str)

In [50]:
dt1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   num          3 non-null      object
 1   code postal  3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

### Les deux colonnes sont de type str

In [53]:
dt1['code postal']= dt1['code postal'].str.zfill(5)
dt1

  num code postal
0   5       94350
1   6       13300
2   6       05000

### On ajoute une colonne construite Ã  partir du code postal

In [55]:
dt1['dept'] = dt1['code postal'].str.slice(0,2)
dt1

  num code postal dept
0   5       94350   94
1   6       13300   13
2   6       05000   05

In [103]:
dt2= pd.DataFrame({'prenom' :['ERIC', 'JEAN'], 'nom':['DUPOND','DUPONT']})

### Prendre la 1ere lettre du prenom

In [104]:
dt2['mail'] = dt2.prenom.str[0]

In [105]:
dt2

  prenom     nom mail
0   ERIC  DUPOND    E
1   JEAN  DUPONT    J

### Mettre l'initiale en minuscule et ajouter la suite

In [106]:
dt2.mail = dt2.mail.str.lower() + '.' +  dt2.nom.str.lower() + '@gouv.fr'
dt2

  prenom     nom              mail
0   ERIC  DUPOND  e.dupond@gouv.fr
1   JEAN  DUPONT  j.dupont@gouv.fr

### Manip sur loc et iloc

In [108]:
dt2.iloc[1]

prenom                JEAN
nom                 DUPONT
mail      j.dupont@gouv.fr
Name: 1, dtype: object

In [109]:
dt2.loc[1]

prenom                JEAN
nom                 DUPONT
mail      j.dupont@gouv.fr
Name: 1, dtype: object

In [110]:
dt2.loc[1, 'prenom']

'JEAN'

In [111]:
dt2[dt2.nom == 'DUPONT']

  prenom     nom              mail
1   JEAN  DUPONT  j.dupont@gouv.fr

In [112]:
dt2 = dt2.set_index('nom')

In [113]:
dt2.iloc[1]

prenom                JEAN
mail      j.dupont@gouv.fr
Name: DUPONT, dtype: object

In [114]:
dt2

       prenom              mail
nom
DUPOND   ERIC  e.dupond@gouv.fr
DUPONT   JEAN  j.dupont@gouv.fr

In [115]:
dt2.loc['DUPONT']

prenom                JEAN
mail      j.dupont@gouv.fr
Name: DUPONT, dtype: object

In [116]:
dt2.loc[1] ## erreur

KeyError: 1