In [1]:
import pyarrow as pa
import pyarrow.parquet as pq
import pandas as pd
import numpy as np
from sklearn.datasets import make_regression

### Le 'biais' est le point y , x = 0   où la droite coupe l'axe des 'y'. C'est le 'b'  de y = aX + b   

C'est une donnée en entrée notée X0 et toujours égale à 1 =>   y = aX1 + bX0

Dans une phase de calcul, inteviendra un calcul de ce type:  H(X) = &sum;(Theta * X) 

### Il faudra ensuite vertoriser le calcul

In [2]:
X, y = make_regression(n_samples=2000000, n_features=1, noise= 12, random_state =2)

In [3]:
X[:5]

array([[-0.59127208],
       [-0.16941227],
       [ 0.59848997],
       [-1.44616407],
       [-1.21919606]])

In [4]:
b = np.ones((X.shape[0],1))
X = np.hstack((b,X))
X[:5]

array([[ 1.        , -0.59127208],
       [ 1.        , -0.16941227],
       [ 1.        ,  0.59848997],
       [ 1.        , -1.44616407],
       [ 1.        , -1.21919606]])

In [5]:
data1 = pd.DataFrame((X), columns =['X0', 'X1'])

In [6]:
data1.head()

    X0        X1
0  1.0 -0.591272
1  1.0 -0.169412
2  1.0  0.598490
3  1.0 -1.446164
4  1.0 -1.219196

In [7]:
data1['y'] = y

In [8]:
data1.head()

    X0        X1          y
0  1.0 -0.591272  -9.940990
1  1.0 -0.169412   1.899222
2  1.0  0.598490  -5.046163
3  1.0 -1.446164 -48.281498
4  1.0 -1.219196 -29.884967

### Soit theta

In [9]:
theta = np.random.rand(len(y))

In [10]:
theta = theta.reshape(-1,1)
print(theta[:5])
print(theta.shape)

[[0.00846121]
 [0.11705111]
 [0.5208531 ]
 [0.18894163]
 [0.74108922]]
(2000000, 1)

In [11]:
X = data1[['X1']].to_numpy()
print(X[:5])
print(X.shape)

[[-0.59127208]
 [-0.16941227]
 [ 0.59848997]
 [-1.44616407]
 [-1.21919606]]
(2000000, 1)

###  Calcul :  H(X) = &sum;(Theta * X)

In [22]:
%%time
H =  theta * X
print(H.shape)
print(H.sum())

(2000000, 1)
-397.8604449994708
Wall time: 17 ms

In [13]:
print(theta @ X) # Erreur de dimension

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 2000000 is different from 1)

In [19]:
%%time
hypothese = 0
for i in range(X.shape[0]) : 
    hypothese += X[i] * theta[i]
print(hypothese)

[-397.860445]
Wall time: 3.49 s

In [20]:
%%time
H = theta.T @ X
print(H)

[[-397.860445]]
Wall time: 1.99 ms

### En bonus: calcul de la matrice inversée !

In [31]:
a = np.array([[1, 3], [5, 7]])
print(a)

[[1 3]
 [5 7]]

In [33]:
b = np.linalg.inv(a)
print(b)

[[-0.875  0.375]
 [ 0.625 -0.125]]

In [34]:
print(a  @ b )

[[1. 0.]
 [0. 1.]]

In [35]:
a = np.array([[1, 2], [4, 8]])

In [36]:
b = np.linalg.inv(a)
print(b)

LinAlgError: Singular matrix

In [37]:
b = np.linalg.pinv(a)
print(b)

[[0.01176471 0.04705882]
 [0.02352941 0.09411765]]

In [38]:
print(a  @ b )

[[0.05882353 0.23529412]
 [0.23529412 0.94117647]]