In [1]:
import numpy as np
import pandas as pd

In [2]:
data1 = pd.read_csv('valeurspropres.csv', index_col =0, dtype={
                     'Code postal': str})
data1.head(10)

   Valeur fonciere Code postal                                Type local
0          84000.0       01960                                Dépendance
1          84000.0       01960                               Appartement
2         210000.0       01250                                    Maison
3         210000.0       01250                                    Maison
4          36000.0       01560                                    Maison
5         600000.0       01000                             non renseigne
6         600000.0       01000  Local industriel. commercial ou assimilé
7         600000.0       01000  Local industriel. commercial ou assimilé
8          84920.0       01500                               Appartement
9          84920.0       01500                                Dépendance

###  Selectionner une ligne ou un groupe de ligne par le rang

In [3]:
print(data1.iloc[1])
print('------------------------------------------------')
print(data1.iloc[1:5])
print('------------------------------------------------')
print(data1.iloc[1,2])

Valeur fonciere        84000.0
Code postal              01960
Type local         Appartement
Name: 1, dtype: object
------------------------------------------------
   Valeur fonciere Code postal   Type local
1          84000.0       01960  Appartement
2         210000.0       01250       Maison
3         210000.0       01250       Maison
4          36000.0       01560       Maison
------------------------------------------------
Appartement

In [4]:
print(data1['Code postal'][2])

01250

### Declarer un nouvel index

In [5]:
data1.set_index('Code postal', inplace =True)

In [6]:
data1.index

Index(['01960', '01960', '01250', '01250', '01560', '01000', '01000', '01000',
       '01500', '01500',
       ...
       '75002', '75002', '75002', '75002', '75002', '75002', '75002', '75002',
       '75002', '75002'],
      dtype='object', name='Code postal', length=1017154)

### Recherche par etiquette

In [7]:
data1.loc['01560']

Valeur fonciere    36000.0
Type local          Maison
Name: 01560, dtype: object

In [8]:
data1.loc['01560','Type local']

'Maison'

In [9]:
data1.loc[['01560','01960']]

             Valeur fonciere   Type local
Code postal
01560                36000.0       Maison
01960                84000.0   Dépendance
01960                84000.0  Appartement

In [10]:
data1.loc[data1['Type local']== 'Maison']

             Valeur fonciere Type local
Code postal
01250               210000.0     Maison
01250               210000.0     Maison
01560                36000.0     Maison
01200               284410.0     Maison
01640               139480.0     Maison
...                      ...        ...
75020              1098800.0     Maison
75019              1030000.0     Maison
75020              1217000.0     Maison
75020              3000000.0     Maison
75020              3000000.0     Maison

[204007 rows x 2 columns]