In [1]:
import pandas as pd

In [2]:
dataf = pd.read_csv('parcelles_ext.csv')  # donne des mauvais résultats

In [5]:
print(dataf.head())

   id_mutation;valeur_fonciere;adresse_numero;adresse_code_voie;id_parcelle;code_type_local;surface_reelle_bati;nombre_pieces_principales;surface_terrain
0  2019-417959;455000.0;25.0;195;94079000AE0030;1...
1  2019-417674;430000.0;61.0;910;94079000AE0069;1...
2  2019-417478;150000.0;37.0;280;94079000AE0306;1...
3  2019-417248;390000.0;31.0;195;94079000AE0035;1...
4  2019-417247;697500.0;3.0;400;94079000AE0387;1;...

#### Le séparateur

In [51]:
dataf = pd.read_csv('parcelles_ext.csv', sep =';')

In [7]:
print(dataf.head())

   id_mutation  valeur_fonciere  adresse_numero  adresse_code_voie  \
0  2019-417959         455000.0            25.0                195
1  2019-417674         430000.0            61.0                910
2  2019-417478         150000.0            37.0                280
3  2019-417248         390000.0            31.0                195
4  2019-417247         697500.0             3.0                400

      id_parcelle code_type_local  surface_reelle_bati  \
0  94079000AE0030               1                117.0
1  94079000AE0069               1                113.0
2  94079000AE0306               1                 91.0
3  94079000AE0035               1                 61.0
4  94079000AE0387               1                150.0

   nombre_pieces_principales  surface_terrain
0                        5.0              NaN
1                        6.0            488.0
2                        4.0            258.0
3                        3.0            507.0
4                        5.0            434.0

#### Les noms de colonnes sont reconnues

In [16]:
print(dataf.columns)
print('---------------------------------------------------------------------------')
print(dataf.info())

Index([' id_mutation', 'valeur_fonciere', 'adresse_numero',
       'adresse_code_voie', 'id_parcelle', 'code_type_local',
       'surface_reelle_bati', 'nombre_pieces_principales', 'surface_terrain'],
      dtype='object')
---------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 9 columns):
 id_mutation                 102 non-null object
valeur_fonciere              102 non-null float64
adresse_numero               100 non-null float64
adresse_code_voie            102 non-null int64
id_parcelle                  102 non-null object
code_type_local              102 non-null object
surface_reelle_bati          83 non-null float64
nombre_pieces_principales    94 non-null float64
surface_terrain              71 non-null float64
dtypes: float64(5), int64(1), object(3)
memory usage: 7.3+ KB
None

####  Commentaires sur le type des données

In [17]:
dataf = pd.read_csv('parcelles_ext.csv', sep =';', header = None)
print(dataf.head())

              0                1               2                  3  \
0   id_mutation  valeur_fonciere  adresse_numero  adresse_code_voie
1   2019-417959         455000.0            25.0                195
2   2019-417674         430000.0            61.0                910
3   2019-417478         150000.0            37.0                280
4   2019-417248         390000.0            31.0                195

                4                5                    6  \
0     id_parcelle  code_type_local  surface_reelle_bati
1  94079000AE0030                1                117.0
2  94079000AE0069                1                113.0
3  94079000AE0306                1                 91.0
4  94079000AE0035                1                 61.0

                           7                8
0  nombre_pieces_principales  surface_terrain
1                        5.0              NaN
2                        6.0            488.0
3                        4.0            258.0
4                        3.0            507.0

In [18]:
print(dataf.columns)
print('---------------------------------------------------------------------------')
print(dataf.info())

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')
---------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 9 columns):
0    103 non-null object
1    103 non-null object
2    101 non-null object
3    103 non-null object
4    103 non-null object
5    103 non-null object
6    84 non-null object
7    95 non-null object
8    72 non-null object
dtypes: object(9)
memory usage: 7.4+ KB
None

####  Avec un saut de ligne de départ

In [48]:
dataf = pd.read_csv('parcelles_ext.csv', sep =';', skiprows =2 , header= None)
print(dataf.head())

             0         1     2    3               4     5      6    7      8
0  2019-417674  430000.0  61.0  910  94079000AE0069     1  113.0  6.0  488.0
1  2019-417478  150000.0  37.0  280  94079000AE0306     1   91.0  4.0  258.0
2  2019-417248  390000.0  31.0  195  94079000AE0035     1   61.0  3.0  507.0
3  2019-417247  697500.0   3.0  400  94079000AE0387     1  150.0  5.0  434.0
4  2019-417127  299000.0  49.0  910  94079000AE0396  None    NaN  NaN  476.0

#### Signification de NaN  et le traitement correctif

#### Par suppression

In [23]:
dataf2 = dataf.dropna()
print(dataf2.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63 entries, 0 to 96
Data columns (total 9 columns):
0    63 non-null object
1    63 non-null float64
2    63 non-null float64
3    63 non-null int64
4    63 non-null object
5    63 non-null object
6    63 non-null float64
7    63 non-null float64
8    63 non-null float64
dtypes: float64(5), int64(1), object(3)
memory usage: 4.9+ KB
None

#### Methodes

    isnull()
    notnull()
    dropna()
    fillna()
    replace()
    interpolate()

In [32]:
dataf2 = dataf.fillna( method ='ffill') # forward 
print(dataf2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 9 columns):
0    101 non-null object
1    101 non-null float64
2    101 non-null float64
3    101 non-null int64
4    101 non-null object
5    101 non-null object
6    101 non-null float64
7    101 non-null float64
8    101 non-null float64
dtypes: float64(5), int64(1), object(3)
memory usage: 7.2+ KB
None

In [39]:
print(dataf[7].min())
print(dataf2[8].min())

0.0
9.0

In [53]:
dataf[dataf['code_type_local'] == 'None'].head()

,id_mutation,valeur_fonciere,adresse_numero,adresse_code_voie,id_parcelle,code_type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain
5,2019-417127,299000.0,49.0,910,94079000AE0396,None,NaN,NaN,476.0
7,2019-416616,293000.0,34.0,910,94079000AE0319,None,NaN,NaN,100.0
66,2015-1108912,646000.0,NaN,195,94079000AE0048,None,NaN,NaN,53.0
70,2015-1107619,360000.0,50.0,600,94079000AE0389,None,NaN,NaN,189.0
74,2015-1107092,428000.0,31.0,910,94079000AE0322,None,NaN,NaN,417.0

In [63]:
import numpy as np
dataf.replace('None', np.nan, inplace = True)  # modification sur l'objet lui même
print(dataf.iloc[5])                           # affiche la ligne d'index numero 5

 id_mutation                    2019-417127
valeur_fonciere                      299000
adresse_numero                           49
adresse_code_voie                       910
id_parcelle                  94079000AE0396
code_type_local                         NaN
surface_reelle_bati                     NaN
nombre_pieces_principales               NaN
surface_terrain                         476
Name: 5, dtype: object

#### Le traitement des valeurs nulles peut aussi se faire au préalable: 

    missing_values = ["n/a", "na", "--"]
    df = pd.read_csv("data.csv", na_values = missing_values)

#### Ne selectionner que certaines colonnes en lecture

In [75]:
dataf = pd.read_csv('parcelles_ext.csv', sep =';', usecols=[1,3])  # ou utilisation du nom de colonne
print(dataf.head())
print(dataf.info())

   valeur_fonciere  adresse_code_voie
0         455000.0                195
1         430000.0                910
2         150000.0                280
3         390000.0                195
4         697500.0                400
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 2 columns):
valeur_fonciere      102 non-null float64
adresse_code_voie    102 non-null int64
dtypes: float64(1), int64(1)
memory usage: 1.7 KB
None

#### Changer un type de donnée

In [79]:
dataf = pd.read_csv('parcelles_ext.csv', sep =';')
dataf.dropna(inplace = True)
dataf['adresse_numero'] =dataf['adresse_numero'].astype('int32')

In [80]:
dataf.head()

,id_mutation,valeur_fonciere,adresse_numero,adresse_code_voie,id_parcelle,code_type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain
1,2019-417674,430000.0,61,910,94079000AE0069,1,113.0,6.0,488.0
2,2019-417478,150000.0,37,280,94079000AE0306,1,91.0,4.0,258.0
3,2019-417248,390000.0,31,195,94079000AE0035,1,61.0,3.0,507.0
4,2019-417247,697500.0,3,400,94079000AE0387,1,150.0,5.0,434.0
6,2019-416616,293000.0,34,910,94079000AE0318,1,76.0,3.0,528.0