## Constructeur d'un entier

In [1]:
a = 12
print(a, type(a))

12 <class 'int'>

## Constructeur d'un nombre à vigule flottante

In [2]:
b = 3.14
print(b, type(b))

3.14 <class 'float'>

## Constructeur d'une chaine de caractère

In [3]:
c = 'machaine'
print(c, type(c))

machaine <class 'str'>

## Constructeur de tuple

In [4]:
d = (1,3)
e = ('er', 3)
f ='er', 3
g = 3,
h = tuple((3, 'rt'))
i = (3,)
j = (3) # ceci n'est pas un tuple
for s in (d,f,g,h,i,j) :
    print(s,type(s))

(1, 3) <class 'tuple'>
('er', 3) <class 'tuple'>
(3,) <class 'tuple'>
(3, 'rt') <class 'tuple'>
(3,) <class 'tuple'>
3 <class 'int'>

## Constructeur de list

In [7]:
l = []
m = [3, 'er']
o = list((1,2,'eg'))
p = list('machaine')
for s in [l, m, o, p]:
    print(s,type(s))

[] <class 'list'>
[3, 'er'] <class 'list'>
[1, 2, 'eg'] <class 'list'>
['m', 'a', 'c', 'h', 'a', 'i', 'n', 'e'] <class 'list'>

## Constructeur de dictionnaire

In [10]:
mondict1 = {}
print(mondict1,type(mondict1))
mondict2 = {'cle': 'valeur' , 3: 'trois' }
print(mondict2,type(mondict2))

{} <class 'dict'>
{'cle': 'valeur', 3: 'trois'} <class 'dict'>

## Constructeur de set

In [19]:
monset1 = set((3, 'as', 'roi', 10))
print(monset1, type(monset1))
monset2 = {3, 'as', 'roi', 10}
print(monset2, type(monset2))
monset3 = set()
print(monset3, type(monset3))
monset4 = set({})
print(monset4 ,type(monset4))
monset5 = {} #  Erreur ce n'est pas un set 
print(monset5, type(monset5))

{'as', 10, 3, 'roi'} <class 'set'>
{'as', 10, 3, 'roi'} <class 'set'>
set() <class 'set'>
set() <class 'set'>
{} <class 'dict'>

##  Astuce  : faire une boucle for pour afficher 5 types de variables  set.

In [37]:
for i in range(1,6) :
    nom = f'monset{i}'  ## monset1 , monset2 etc..
    variable= globals()[nom]
    print(variable, type(variable))

{'as', 10, 3, 'roi'} <class 'set'>
{'as', 10, 3, 'roi'} <class 'set'>
set() <class 'set'>
set() <class 'set'>
{} <class 'dict'>