In [1]:
import pandas as pd
import sqlite3 as sq

In [2]:
conn = sq.connect('films.db')

In [6]:
dp = pd.read_sql('select * from acteurs', conn, index_col = 'id_acteur')

In [7]:
dp

                nom_acteur
id_acteur
1            Aaron Eckhart
2               Adel Karam
3           Adolphe Menjou
4             Adrien Brody
5          Agnes Moorehead
...                    ...
705              Zac Efron
706          Zachary Scott
707         Zain Al Rafeea
708            Zazie Beetz
709            Zoe Saldana

[709 rows x 1 columns]