In [1]:
import pandas as pd
import numpy as np

In [34]:
a  =pd.DataFrame([[x for x in range(1, 7)], ['a', 'b', 'c' , 'd' ,'e', 'f'], [x*x for x in range(1,7)]], ['X1', 'X2', 'Y'])

In [6]:
a.index

RangeIndex(start=0, stop=2, step=1)

In [25]:
a

    0  1  2   3   4   5
X1  1  2  3   4   5   6
X2  a  b  c   d   e   f
Y   1  4  9  16  25  36

In [35]:
b = a.T

In [27]:
print(b)

  X1 X2   Y
0  1  a   1
1  2  b   4
2  3  c   9
3  4  d  16
4  5  e  25
5  6  f  36

In [37]:
b.at[2,'Y']  = np.nan
b.iat[2, 4]  = np.nan

IndexError: index 4 is out of bounds for axis 0 with size 3

In [33]:
b

  X1 X2   Y  (2, Y)
0  1  a   1     NaN
1  2  b   4     NaN
2  3  c   9     NaN
3  4  d  16     NaN
4  5  e  25     NaN
5  6  f  36     NaN