In [1]:
import pandas as pd
import sqlite3 as sq

In [2]:
conn = sq.connect('films.db')

In [10]:
dp = pd.read_sql_query('select * from best_films ', conn, index_col='id')

In [11]:
print(dp)

                            titre     duree  \
id
1                    Forrest Gump  2h 20min
2           La Liste de Schindler  3h 15min
3                  La Ligne verte  3h 09min
4             12 hommes en colère  1h 35min
5                      Le Parrain  2h 55min
..                            ...       ...
296  La Colline des hommes perdus  2h 03min
297                       Amadeus  3h 00min
298          Inglourious Basterds  2h 33min
299                   M le Maudit  1h 52min
300                   Raging Bull  2h 09min

                                                 pitch           categorie  \
id
1    Quelques décennies d'histoire américaine, des ...             Comédie
2    Evocation des années de guerre d'Oskar Schindl...          Historique
3    Paul Edgecomb, Gardien-chef du pénitencier de ...            Policier
4    Lors d'un procès, un juré émet l'hypothèse que...               Drame
5    En 1945, à New York, les Corleone sont une des...            Policier
..                                                 ...                 ...
296  Durant la Seconde Guerre mondiale, un camp dis...              Guerre
297  Au XVIIIe siècle, à Vienne, Antonio Salieri, l...  Comédie dramatique
298  Dans la France occupée de 1940, Shosanna assis...              Action
299  Toute la presse ne parle que de ça : le maniaq...            Policier
300  La carrière éblouissante du boxeur Jake La Mot...              Biopic

              realisateur
id
1         Robert Zemeckis
2        Steven Spielberg
3          Frank Darabont
4            Sidney Lumet
5    Francis Ford Coppola
..                    ...
296          Sidney Lumet
297          Milos Forman
298     Quentin Tarantino
299            Fritz Lang
300       Martin Scorsese

[300 rows x 5 columns]