In [1]:
import numpy as np
import pandas as pd

### 1)  Examiner et charger le fichier valeursfoncieres.csv 
### Ne retenir que les colonnes 'Valeur fonciere' et 'Code postal'

In [2]:
data1 = pd.read_csv('valeursfoncieres.csv',usecols= ['Valeur fonciere','Code postal', 'Type local'], 
                    sep='|')
data1.head(10)

  Valeur fonciere  Code postal                                Type local
0        84000,00       1960.0                                Dépendance
1        84000,00       1960.0                               Appartement
2       210000,00       1250.0                                    Maison
3       210000,00       1250.0                                    Maison
4        36000,00       1560.0                                    Maison
5       600000,00       1000.0                                       NaN
6       600000,00       1000.0  Local industriel. commercial ou assimilé
7       600000,00       1000.0  Local industriel. commercial ou assimilé
8        84920,00       1500.0                               Appartement
9        84920,00       1500.0                                Dépendance

In [3]:
print(data1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017154 entries, 0 to 1017153
Data columns (total 3 columns):
Valeur fonciere    1004369 non-null object
Code postal        1004998 non-null float64
Type local         541303 non-null object
dtypes: float64(1), object(2)
memory usage: 23.3+ MB
None

In [4]:
print(data1.count())

Valeur fonciere    1004369
Code postal        1004998
Type local          541303
dtype: int64

###  2) nettoyer la colonne 'Type local' : remplacer les valeurs nulles par 'non renseigne'

In [5]:
data1[data1['Type local'].isnull() == True]

        Valeur fonciere  Code postal Type local
5             600000,00       1000.0        NaN
10               532,00       1680.0        NaN
11               532,00       1680.0        NaN
12             60879,60       1500.0        NaN
13             60879,60       1500.0        NaN
...                 ...          ...        ...
1017064      4200900,00      75004.0        NaN
1017065      4200900,00      75004.0        NaN
1017066      1176000,00      75004.0        NaN
1017067      1176000,00      75004.0        NaN
1017069       414000,00      75004.0        NaN

[475851 rows x 3 columns]

In [6]:
a_nettoyer = data1['Type local'].isnull() == True
print(a_nettoyer.head(10))
print(type(a_nettoyer))
print(a_nettoyer.size)
print(a_nettoyer.unique())
print(a_nettoyer.value_counts())

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9    False
Name: Type local, dtype: bool
<class 'pandas.core.series.Series'>
1017154
[False  True]
False    541303
True     475851
Name: Type local, dtype: int64

In [7]:
data1['Type local'][a_nettoyer] = 'non renseigne'

C:\Users\33681\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
data1.loc[a_nettoyer,'Type local'] =  'non renseigne'

In [9]:
data1.head(10)

  Valeur fonciere  Code postal                                Type local
0        84000,00       1960.0                                Dépendance
1        84000,00       1960.0                               Appartement
2       210000,00       1250.0                                    Maison
3       210000,00       1250.0                                    Maison
4        36000,00       1560.0                                    Maison
5       600000,00       1000.0                             non renseigne
6       600000,00       1000.0  Local industriel. commercial ou assimilé
7       600000,00       1000.0  Local industriel. commercial ou assimilé
8        84920,00       1500.0                               Appartement
9        84920,00       1500.0                                Dépendance

### 3) Compter et lister les valeurs uniques de la colonne 'Type local'

In [10]:
print(data1['Type local'].nunique())
print(data1['Type local'].unique())

5
['Dépendance' 'Appartement' 'Maison' 'non renseigne'
 'Local industriel. commercial ou assimilé']

###  4) Reduire la taille de la memoire necessaire en utilisant la categorisation

In [11]:
print(data1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017154 entries, 0 to 1017153
Data columns (total 3 columns):
Valeur fonciere    1004369 non-null object
Code postal        1004998 non-null float64
Type local         1017154 non-null object
dtypes: float64(1), object(2)
memory usage: 23.3+ MB
None

In [12]:
data1['Type local'].astype('category')

0                                        Dépendance
1                                       Appartement
2                                            Maison
3                                            Maison
4                                            Maison
                             ...
1017149    Local industriel. commercial ou assimilé
1017150    Local industriel. commercial ou assimilé
1017151    Local industriel. commercial ou assimilé
1017152    Local industriel. commercial ou assimilé
1017153    Local industriel. commercial ou assimilé
Name: Type local, Length: 1017154, dtype: category
Categories (5, object): [Appartement, Dépendance, Local industriel. commercial ou assimilé, Maison, non renseigne]

In [13]:
data1['Type local'] = data1['Type local'].astype('category')
print(data1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017154 entries, 0 to 1017153
Data columns (total 3 columns):
Valeur fonciere    1004369 non-null object
Code postal        1004998 non-null float64
Type local         1017154 non-null category
dtypes: category(1), float64(1), object(1)
memory usage: 16.5+ MB
None

### 5) Corriger le code postal (type et padding)

####  Corriger les valeurs nulles
#### Changer de type
#### Mettre des zeros en tete

In [14]:
data1['Code postal'].astype(str)

0           1960.0
1           1960.0
2           1250.0
3           1250.0
4           1560.0
            ...
1017149    75002.0
1017150    75002.0
1017151    75002.0
1017152    75002.0
1017153    75002.0
Name: Code postal, Length: 1017154, dtype: object

In [15]:
data1[data1['Code postal'].isnull() == True]

        Valeur fonciere  Code postal                                Type local
843            17000,00          NaN                             non renseigne
844           319500,00          NaN                             non renseigne
1393          297700,00          NaN  Local industriel. commercial ou assimilé
2208          323000,00          NaN                             non renseigne
3132          320000,00          NaN                             non renseigne
...                 ...          ...                                       ...
1015987             NaN          NaN                             non renseigne
1015988             NaN          NaN                             non renseigne
1015989             NaN          NaN                             non renseigne
1015990             NaN          NaN                             non renseigne
1015991             NaN          NaN                             non renseigne

[12156 rows x 3 columns]

In [16]:
data1['Code postal'].fillna(99999.0)

0           1960.0
1           1960.0
2           1250.0
3           1250.0
4           1560.0
            ...
1017149    75002.0
1017150    75002.0
1017151    75002.0
1017152    75002.0
1017153    75002.0
Name: Code postal, Length: 1017154, dtype: float64

In [17]:
data1['Code postal']= data1['Code postal'].fillna(99999.0)

In [18]:
data1['Code postal']= data1['Code postal'].astype(int)
data1['Code postal']= data1['Code postal'].astype(str)

In [31]:
data1['Code postal']= data1['Code postal'].str.zfill(5)

AttributeError: 'list' object has no attribute 'str'

In [42]:
data1.loc[data1['Code postal'].str.contains('1960', regex =False)]

        Valeur fonciere Code postal     Type local
0               84000.0       01960     Dépendance
1               84000.0       01960    Appartement
136139          22000.0       19600  non renseigne
136145          37000.0       19600  non renseigne
136146          37000.0       19600  non renseigne
...                 ...         ...            ...
676902         248000.0       71960         Maison
676903         248000.0       71960         Maison
676904         248000.0       71960  non renseigne
676905         248000.0       71960  non renseigne
676919          70000.0       71960         Maison

[451 rows x 3 columns]

###  6) Commenter le resultat ci-dessous

In [20]:
data1['Valeur fonciere'].head().sum()

'84000,0084000,00210000,00210000,0036000,00'

###  7) Réaliser le changement de type et le nettoyage de la colonne

In [21]:
data1['Valeur fonciere']=data1['Valeur fonciere'].str.replace(',','.')
data1['Valeur fonciere'].head()

0     84000.00
1     84000.00
2    210000.00
3    210000.00
4     36000.00
Name: Valeur fonciere, dtype: object

In [22]:
data1['Valeur fonciere']=data1['Valeur fonciere'].astype(float)
data1['Valeur fonciere'].head()

0     84000.0
1     84000.0
2    210000.0
3    210000.0
4     36000.0
Name: Valeur fonciere, dtype: float64

In [23]:
data1['Valeur fonciere']= data1['Valeur fonciere'].fillna(0)

In [24]:
data1.nlargest(5, 'Valeur fonciere')

        Valeur fonciere Code postal     Type local
210851     1.750000e+09       29400  non renseigne
210852     1.750000e+09       29400         Maison
210853     1.750000e+09       29400         Maison
210888     4.000000e+08       29410         Maison
210854     3.850000e+08       29233         Maison

In [25]:
data1[data1['Code postal']=='99999']

         Valeur fonciere Code postal                                Type local
843              17000.0       99999                             non renseigne
844             319500.0       99999                             non renseigne
1393            297700.0       99999  Local industriel. commercial ou assimilé
2208            323000.0       99999                             non renseigne
3132            320000.0       99999                             non renseigne
...                  ...         ...                                       ...
1015987              0.0       99999                             non renseigne
1015988              0.0       99999                             non renseigne
1015989              0.0       99999                             non renseigne
1015990              0.0       99999                             non renseigne
1015991              0.0       99999                             non renseigne

[12156 rows x 3 columns]

In [26]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017154 entries, 0 to 1017153
Data columns (total 3 columns):
Valeur fonciere    1017154 non-null float64
Code postal        1017154 non-null object
Type local         1017154 non-null category
dtypes: category(1), float64(1), object(1)
memory usage: 16.5+ MB

In [48]:
import csv
data1.to_csv('valeurspropres.csv', quoting= csv. QUOTE_NONNUMERIC )