In [2]:
eval('4+5')

9

In [5]:
from dataclasses import dataclass

In [16]:
@dataclass
class Demo():
    age: int

In [17]:
un = Demo(20)

In [18]:
repr(un)

'Demo(age=20)'

In [19]:
print(un)

Demo(age=20)

In [20]:
deux= eval(repr(un))

In [21]:
print(deux)

Demo(age=20)

In [22]:
type(deux)

__main__.Demo

In [28]:
!ipconfig/all

Configuration IP de Windows

   Nom de l'h“te . . . . . . . . . . : LAPTOP-8232BL63
   Suffixe DNS principal . . . . . . :
   Type de noeud. . . . . . . . . .  : Hybride
   Routage IP activ‚ . . . . . . . . : Non
   Proxy WINS activ‚ . . . . . . . . : Non

Carte Ethernet Ethernet :

   Suffixe DNS propre … la connexion. . . :
   Description. . . . . . . . . . . . . . : VirtualBox Host-Only Ethernet Adapter
   Adresse physique . . . . . . . . . . . : 0A-00-27-00-00-07
   DHCP activ‚. . . . . . . . . . . . . . : Non
   Configuration automatique activ‚e. . . : Oui
   Adresse IPv6 de liaison locale. . . . .: fe80::97aa:d22b:4b2a:c732%7(pr‚f‚r‚)
   Adresse IPv4. . . . . . . . . . . . . .: 192.168.56.1(pr‚f‚r‚)
   Masque de sous-r‚seau. . . .ÿ. . . . . : 255.255.255.0
   Passerelle par d‚faut. . . .ÿ. . . . . :
   IAID DHCPv6 . . . . . . . . . . . : 738852903
   DUID de client DHCPv6. . . . . . . . : 00-01-00-01-27-05-47-D0-04-ED-33-6B-FA-DA
   NetBIOS sur Tcpip. . . . . . . . . . . : Activ‚

Carte r‚seau sans fil Connexion au r‚seau local* 3ÿ:

   Statut du m‚dia. . . . . . . . . . . . : M‚dia d‚connect‚
   Suffixe DNS propre … la connexion. . . :
   Description. . . . . . . . . . . . . . : Microsoft Wi-Fi Direct Virtual Adapter #3
   Adresse physique . . . . . . . . . . . : 04-ED-33-6B-FA-DB
   DHCP activ‚. . . . . . . . . . . . . . : Oui
   Configuration automatique activ‚e. . . : Oui

Carte r‚seau sans fil Connexion au r‚seau local* 12ÿ:

   Statut du m‚dia. . . . . . . . . . . . : M‚dia d‚connect‚
   Suffixe DNS propre … la connexion. . . :
   Description. . . . . . . . . . . . . . : Microsoft Wi-Fi Direct Virtual Adapter #4
   Adresse physique . . . . . . . . . . . : 06-ED-33-6B-FA-DA
   DHCP activ‚. . . . . . . . . . . . . . : Non
   Configuration automatique activ‚e. . . : Oui

Carte r‚seau sans fil Wi-Fiÿ:

   Suffixe DNS propre … la connexion. . . :
   Description. . . . . . . . . . . . . . : Intel(R) Wireless-AC 9560 160MHz
   Adresse physique . . . . . . . . . . . : 04-ED-33-6B-FA-DA
   DHCP activ‚. . . . . . . . . . . . . . : Oui
   Configuration automatique activ‚e. . . : Oui
   Adresse IPv6 de liaison locale. . . . .: fe80::1dbc:a89f:9448:64c8%12(pr‚f‚r‚)
   Adresse IPv4. . . . . . . . . . . . . .: 192.168.127.99(pr‚f‚r‚)
   Masque de sous-r‚seau. . . .ÿ. . . . . : 255.255.255.0
   Bail obtenu. . . . . . . . .ÿ. . . . . : mardi 11 avril 2023 16:47:52
   Bail expirant. . . . . . . . .ÿ. . . . : mardi 11 avril 2023 18:18:11
   Passerelle par d‚faut. . . .ÿ. . . . . : 192.168.127.243
   Serveur DHCP . . . . . . . . . . . . . : 192.168.127.243
   IAID DHCPv6 . . . . . . . . . . . : 117763379
   DUID de client DHCPv6. . . . . . . . : 00-01-00-01-27-05-47-D0-04-ED-33-6B-FA-DA
   Serveurs DNS. . .  . . . . . . . . . . : 192.168.127.243
   NetBIOS sur Tcpip. . . . . . . . . . . : Activ‚

Carte Ethernet Connexion r‚seau Bluetooth :

   Statut du m‚dia. . . . . . . . . . . . : M‚dia d‚connect‚
   Suffixe DNS propre … la connexion. . . :
   Description. . . . . . . . . . . . . . : Bluetooth Device (Personal Area Network)
   Adresse physique . . . . . . . . . . . : 04-ED-33-6B-FA-DE
   DHCP activ‚. . . . . . . . . . . . . . : Oui
   Configuration automatique activ‚e. . . : Oui

In [29]:
import pandas as pd

In [49]:
a = pd.DataFrame([[1, 'a'],[2, 'b'], [3, 'c']], columns = ['cle', 'valeur'], index = [1, 2, 3])

In [50]:
print(a)

   cle valeur
1    1      a
2    2      b
3    3      c

In [55]:
b = a.iloc[1]

In [56]:
b

cle       2
valeur    b
Name: 2, dtype: object

In [80]:
a.loc[1].valeur

'a'

In [86]:
a.iloc[1:2]

   cle valeur
2    2      b

In [64]:
b

   cle valeur
1  NaN    NaN
2  NaN    NaN
3  3.0    NaN

In [65]:
c = [[1, 2, 3], [4, 5, 6]]

In [67]:
c[0][1]

2