In [1]:
import pandas as pd

In [3]:
dt = pd.read_json('30.json')

In [6]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   match_id           52 non-null     int64
 1   match_date         52 non-null     object
 2   kick_off           52 non-null     object
 3   competition        52 non-null     object
 4   season             52 non-null     object
 5   home_team          52 non-null     object
 6   away_team          52 non-null     object
 7   home_score         52 non-null     int64
 8   away_score         52 non-null     int64
 9   match_status       52 non-null     object
 10  match_status_360   52 non-null     object
 11  last_updated       52 non-null     object
 12  last_updated_360   52 non-null     object
 13  metadata           52 non-null     object
 14  match_week         52 non-null     int64
 15  competition_stage  52 non-null     object
 16  stadium            52 non-null     object
 17  referee            36 non-null     object
dtypes: int64(4), object(14)
memory usage: 7.4+ KB

In [14]:
dt.columns

Index(['match_id', 'match_date', 'kick_off', 'competition', 'season',
       'home_team', 'away_team', 'home_score', 'away_score', 'match_status',
       'match_status_360', 'last_updated', 'last_updated_360', 'metadata',
       'match_week', 'competition_stage', 'stadium', 'referee'],
      dtype='object')

In [21]:
dt.loc[:,[ 'home_team']]

                                            home_team
0   {'home_team_id': 852, 'home_team_name': 'Norwa...
1   {'home_team_id': 1205, 'home_team_name': 'Aust...
2   {'home_team_id': 1212, 'home_team_name': 'Jama...
3   {'home_team_id': 1212, 'home_team_name': 'Jama...
4   {'home_team_id': 1204, 'home_team_name': 'Arge...
5   {'home_team_id': 1214, 'home_team_name': 'Unit...
6   {'home_team_id': 1209, 'home_team_name': 'Chil...
7   {'home_team_id': 1213, 'home_team_name': 'Nige...
8   {'home_team_id': 857, 'home_team_name': 'Germa...
9   {'home_team_id': 1216, 'home_team_name': 'Sout...
10  {'home_team_id': 1210, 'home_team_name': 'Japa...
11  {'home_team_id': 851, 'home_team_name': 'Nethe...
12  {'home_team_id': 1206, 'home_team_name': 'Cana...
13  {'home_team_id': 851, 'home_team_name': 'Nethe...
14  {'home_team_id': 858, 'home_team_name': 'Swede...
15  {'home_team_id': 858, 'home_team_name': 'Swede...
16  {'home_team_id': 1208, 'home_team_name': 'Came...
17  {'home_team_id': 857, 'home_team_name': 'Germa...
18  {'home_team_id': 865, 'home_team_name': 'Engla...
19  {'home_team_id': 861, 'home_team_name': 'Franc...
20  {'home_team_id': 857, 'home_team_name': 'Germa...
21  {'home_team_id': 865, 'home_team_name': 'Engla...
22  {'home_team_id': 858, 'home_team_name': 'Swede...
23  {'home_team_id': 1210, 'home_team_name': 'Japa...
24  {'home_team_id': 1211, 'home_team_name': 'Kore...
25  {'home_team_id': 1214, 'home_team_name': 'Unit...
26  {'home_team_id': 852, 'home_team_name': 'Norwa...
27  {'home_team_id': 1214, 'home_team_name': 'Unit...
28  {'home_team_id': 1207, 'home_team_name': 'Chin...
29  {'home_team_id': 855, 'home_team_name': 'Italy...
30  {'home_team_id': 861, 'home_team_name': 'Franc...
31  {'home_team_id': 857, 'home_team_name': 'Germa...
32  {'home_team_id': 863, 'home_team_name': 'Spain...
33  {'home_team_id': 1203, 'home_team_name': 'Braz...
34  {'home_team_id': 1206, 'home_team_name': 'Cana...
35  {'home_team_id': 861, 'home_team_name': 'Franc...
36  {'home_team_id': 1215, 'home_team_name': 'New ...
37  {'home_team_id': 861, 'home_team_name': 'Franc...
38  {'home_team_id': 1205, 'home_team_name': 'Aust...
39  {'home_team_id': 865, 'home_team_name': 'Engla...
40  {'home_team_id': 1213, 'home_team_name': 'Nige...
41  {'home_team_id': 1216, 'home_team_name': 'Sout...
42  {'home_team_id': 866, 'home_team_name': 'Scotl...
43  {'home_team_id': 1107, 'home_team_name': 'Thai...
44  {'home_team_id': 865, 'home_team_name': 'Engla...
45  {'home_team_id': 855, 'home_team_name': 'Italy...
46  {'home_team_id': 851, 'home_team_name': 'Nethe...
47  {'home_team_id': 852, 'home_team_name': 'Norwa...
48  {'home_team_id': 865, 'home_team_name': 'Engla...
49  {'home_team_id': 851, 'home_team_name': 'Nethe...
50  {'home_team_id': 855, 'home_team_name': 'Italy...
51  {'home_team_id': 863, 'home_team_name': 'Spain...

In [23]:
dtfilm = pd.read_csv('tmdb_5000_movies.csv')

In [27]:
dtfilm.iloc[1]

budget                                                          300000000
genres                  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
homepage                     http://disney.go.com/disneypictures/pirates/
id                                                                    285
keywords                [{"id": 270, "name": "ocean"}, {"id": 726, "na...
original_language                                                      en
original_title                   Pirates of the Caribbean: At World's End
overview                Captain Barbossa, long believed to be dead, ha...
popularity                                                     139.082615
production_companies    [{"name": "Walt Disney Pictures", "id": 2}, {"...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2007-05-19
revenue                                                         961000000
runtime                                                             169.0
spoken_languages                 [{"iso_639_1": "en", "name": "English"}]
status                                                           Released
tagline                    At the end of the world, the adventure begins.
title                            Pirates of the Caribbean: At World's End
vote_average                                                          6.9
vote_count                                                           4500
Name: 1, dtype: object

In [36]:
item = eval((dtfilm.at[1,'genres']))

In [37]:
item

[{'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 28, 'name': 'Action'}]

In [39]:
item[0]['name']

'Adventure'